{% extends 'base.html' %} {% block content %}
<div id="home-container">
  <h1 id="home-header">Study-Buddy</h1>
  {% if error %}
  <p id="error">{{error}}</p>
  {% endif %}
  <form method="post" id="chat-widget-home">
    <div id="name-input">
      <label for="name">Enter your name</label>
      <input type="text" id="name" name="name" placeholder="Enter name" value="{{name}}" />
    </div>
    <div>
      <label for="code" id="code-label">Subject</label>
      <input type="text" id="code" name="code" placeholder="Enter Level" value="{{code}}" />
      <label for="level" id="level-label" >Level</label>
      <input type="text" id="level" name="level" placeholder="Enter subject" value="{{level}}" />
      <button type="submit" id="join" name="join">Join</button>
    </div>
    <hr />
    {% if Teacher %}
    <button type="submit" id="create" name="create">Create Room</button>
    {% endif %}
  </form>
</div>
{% endblock %}